.st0{fill:none;}
.st1{fill:#7F7F7F;}
.st2{enable-background:new    ;}
.st3{clip-path:url(#SVGID_2_);enable-background:new    ;}
.st4{fill:#2C6085;}
.st5{fill:#2E648A;}
.st6{fill:#30688F;}
.st7{fill:#316B94;}
.st8{fill:#336F99;}
.st9{fill:#35739E;}
.st10{fill:#3676A3;}
.st11{fill:#387AA8;}
.st12{fill:#3A7EAD;}
.st13{fill:#3B82B3;}
.st14{fill:#3D85B8;}
.st15{fill:#3F89BD;}
.st16{fill:#418DC2;}
.st17{fill:#4290C7;}
.st18{fill:#4494CC;}
.st19{fill:#4698D1;}
.st20{fill:#479BD6;}
.st21{fill:#499FDB;}
.st22{fill:#4BA3E0;}
.st23{fill:#4DA7E6;}
.st24{fill:#4EAAEB;}
.st25{fill:#50AEF0;}
.st26{fill:#52B2F5;}
.st27{clip-path:url(#SVGID_4_);enable-background:new    ;}
.st28{clip-path:url(#SVGID_6_);enable-background:new    ;}
.st29{clip-path:url(#SVGID_8_);enable-background:new    ;}
.st30{fill:#2B5D80;}
.st31{fill:#2F658C;}
.st32{clip-path:url(#SVGID_10_);enable-background:new    ;}
.st33{clip-path:url(#SVGID_12_);enable-background:new    ;}
.st34{clip-path:url(#SVGID_14_);enable-background:new    ;}
.st35{clip-path:url(#SVGID_16_);enable-background:new    ;}
.st36{fill:#306A91;}
.st37{clip-path:url(#SVGID_18_);enable-background:new    ;}
.st38{clip-path:url(#SVGID_20_);enable-background:new    ;}
.st39{clip-path:url(#SVGID_22_);enable-background:new    ;}
.st40{clip-path:url(#SVGID_24_);enable-background:new    ;}
.st41{clip-path:url(#SVGID_26_);enable-background:new    ;}
.st42{clip-path:url(#SVGID_28_);enable-background:new    ;}
.st43{clip-path:url(#SVGID_30_);enable-background:new    ;}
.st44{clip-path:url(#SVGID_32_);enable-background:new    ;}
.st45{clip-path:url(#SVGID_34_);enable-background:new    ;}
.st46{clip-path:url(#SVGID_36_);enable-background:new    ;}
.st47{clip-path:url(#SVGID_38_);enable-background:new    ;}
.st48{clip-path:url(#SVGID_40_);enable-background:new    ;}
.st49{fill:#33709A;}
.st50{clip-path:url(#SVGID_42_);enable-background:new    ;}
.st51{clip-path:url(#SVGID_44_);enable-background:new    ;}
.st52{fill:#D4D4D4;}
.st53{fill:#D0D0D0;}
.st54{fill:#CBCBCB;}
.st55{fill:#C7C7C7;}
.st56{fill:#C2C2C2;}
.st57{fill:#BEBEBE;}
.st58{fill:#BABABA;}
.st59{fill:#B5B5B5;}
.st60{fill:#B1B1B1;}
.st61{fill:#ACACAC;}
.st62{fill:#A8A8A8;}
.st63{fill:#A4A4A4;}
.st64{fill:#9F9F9F;}
.st65{fill:#9B9B9B;}
.st66{fill:#969696;}
.st67{fill:#929292;}
.st68{fill:#8D8D8D;}
.st69{fill:#898989;}
.st70{fill:#858585;}
.st71{fill:#808080;}
.st72{fill:#7C7C7C;}
.st73{fill:#777777;}
.st74{fill:#737373;}
.st75{fill:#316A93;}
.st76{fill:#B8B8B8;}
